.app-main-body {
    margin: 0px;
}

.app-main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app-main-menu {
    position: absolute;
    width: 208px;
    left: 0;
    bottom: 0;
    top: 0;
    color: #555;
    background-color: #555;
}

.app-main-menu-tree {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #555;
    background-color: #555;
}

.app-main-content {
    position: absolute;
    top: 0;
    left: 208px;
    bottom: 0;
    right: 0;
    color: #555;
}